// @import url('https://fonts.googleapis.com/css?family=Tulpen+One|Exo|Kanit:800|Nunito|Molle:400i|Open+Sans+Condensed:300|Zhi+Mang+Xing|Anton|Raleway:100,300,900|Montserrat|Montserrat:400,900,900i|Josefin+Sans:100, 300,700,700i|Exo+2:100,100i,200&display=swap');

// ///////////MIXINS

$main-color: rgb(172, 68, 182);
// $main-variant-color: rgb(150, 31, 114);
$side-color: rgb(255, 236, 182);
// $side-color: rgb(139, 247, 187);
$golden-color: rgb(194, 161, 72);


///////////MIXINS

$field1: rgba(#c912eb, .5);
$field2: rgba(#f719a7, .5);
$field3: rgba(#fa3d8d, .5);
$field4: rgba(126, 14, 38, 0.6);




body {
    background-color: rgba(white, .95);
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;

    &.in-modal {
        overflow-y: hidden;
    }

    
}

.filters {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.landing {
    display: flex;
    // display: none;
    // flex-direction: column;
    justify-content: center;
    align-items: stretch;

    z-index: 20;
    position: absolute;
    width: 100%;
    // padding-top: 13rem;
    // padding-right: 17rem;
    height: 100vh;
    perspective: 1000px;

    &__stripe {
        flex: 1;
        transform-origin: left;
        background-color: rgb(11, 11, 11);
    }
    // &__p {
    //     margin-left: auto;
    //     width: fit-content;
    // }

    // &__span {
    //     font-family: myFont;
    //     font-weight: bold;
    //     font-size: 4rem;
    //     color: rgba(228, 219, 204, 0.719);
    //     margin-left: 1.55rem;
    // }
}

$polishHeight: 400;
.polish {
    position: absolute;
    top: 0;
    width: 100%;
    height: #{$polishHeight}vh;
    z-index: 99;
    background-color:  rgb(145, 122, 80);
    transform: translateY(ceil((100 / $polishHeight) * 100%));
    border-bottom: 3rem solid rgba(43, 43, 43, 0.356);
    &__stripe {
        margin-top: auto;
        height: 5rem;
        background-color: rgb(20, 20, 20);
    }
}
.container {
    position: relative;
}

.logo {
    position: fixed;
    max-height: 10rem;
    stroke-dashoffset: 1;
    // width: 30rem;
    // background: red;
    // border: 1px solid black;
    z-index: 21;
    transform: translate(10%, 22%);
    mix-blend-mode: difference;


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    & path{
        fill: rgb(255, 255, 255);
        stroke: rgb(255, 255, 255);

        &__dot {
            fill: #82171D;
            stroke: #82171D;
        }

        &.draw-svg {
            stroke-dasharray: 1 1;
            // stroke-dashoffset: 1;
            animation: draw-svg 2s ease-out forwards;
        }
    }
}

@keyframes draw-svg {
    0% {
        stroke-dashoffset: 1;
    }
    100% {
        stroke-dashoffset: 2;
    }
}



$navbarHeight: 5rem;
.navbar {
    // display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: $navbarHeight;
    background-color: white;
    box-shadow: 0 -3px 1rem rgba(0, 0, 0, 0.377);

    &__list {
        display: flex;
        flex-direction: row-reverse;
        width: fit-content;
        margin-left: auto;
        margin-right: 7rem;
        height: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__link {
        display: block;
        font-size: 1.65rem;
        padding: 0 1.55rem;
        color: rgb(156, 96, 96);
    }
}

$menu-color: rgba(0, 0, 0, .95); //rgb(13, 2, 3);
.menu {

    // display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $menu-color;
    z-index: 19;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    // transform: translateX(100%);
    // padding: 10rem 30rem;
    // border-left: 1px solid rgba(255, 255, 255, .85);
    // box-shadow: -5px 0 10px rgba(255, 255, 255, 0.151);


    // & svg text{
    //     fill: white;
    //     font-family: 'Assistant';
    //     font-size: 2rem;
    // }

    &__toggle {
        display: none;
        &-container {
            position: fixed;
            top: 0;
            right: 0;
            // background-color: #fff;
            line-height: 1;
            color: white;
            // font-size: 3rem;
            transform: translate(-3rem, 2.5rem);
            padding: .3rem .6rem;
            z-index: 20;
        }

        &-label {
            margin-bottom: .6rem;
            cursor: pointer;
            
            // svg {
            //     fill: white;
            //     width: 3rem;
            //     height: 2.6rem;
            //     transform: scaleY(.45   );
            // }
        }

        &-minus {
            display: block;
            width: 1.7rem;
            height: 1.5px;
            border-radius: 15px;
            background-color: white;
            transition: .2s;

            &:first-child {
                margin-bottom: .75rem;
                transform-origin: left top;
            }

            &:last-child {
                margin-bottom: .65rem;
                transform-origin: left bottom;
            }
        }

        &:checked {

            & + .menu__toggle-label {
                .menu__toggle-minus {
                    &:first-child {
                        margin-bottom: 1.3rem;
                        transform: rotate(45deg);
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        // 
        justify-content: flex-start;
        

    }

    &__item {
        overflow: hidden;
        :hover {
            // h2 {
                
            //     -webkit-text-fill-color: white;
            // }
        }
    }

    &__link {
        display: block;
        position: relative;
        // color: rgba(255, 255, 255, 0.1);
        // font-size: 2rem;
        padding: 0 1.55rem;
        font-weight: 300;
        // line-height: 1.2;
        // background-color: rgb(17, 31, 11);
        // filter: url(#outliner);
        // // svg text, h2 {
        //     fill: white;
        //     color: white;
        // fill: #000;
        color: darken($menu-color, 23%);
        font-size: 4.5rem;
        // stroke: white;
        // -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
        // -webkit-text-stroke-width: 1px;
        // -webkit-text-stroke-color: white;
        // text-shadow: 1px 1px 0px white, -1px 1px 0px white, 1px -1px 0px white, -1px -1px 0px white,
        // 2px 2px 0px white, -2px 2px 0px white, 2px -2px 0px white, -2px -2px 0px white;
        transform: skewX(-8deg);
        transition: .25s;
        @include stroke(rgb(255, 225, 225));
        // }
        // z-index: 2;

        // &::before,
        // &::after {
        //     content: '';
        //     position: absolute;
        //     width: 1.4rem;
        //     height: 1px;
        //     top: 50%;
        //     background-color: white;
        //     transition: .2s ease-out;
        //     z-index: -1;
        // }

        // &::before {
        //     right: 0;
        //     transform: translateX(50%);
        // }

        // &::after {
        //     left: 0;
        // }

        &:hover {
            color: white;
            
            &::before {
                transform: translateX(100%);
            }

            &::after {
                transform: translateX(-100%);
            }
        }
    }
}

.header {
    height: 100vh;
    background-color: red;

    &__video {
        width: 100%;
        height: 100%;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 100vh;
    padding: 10rem;
}
.jewels {

    
    &__heading,
    &__desc {
        text-align: center;
        margin-bottom: 3rem;
    }
    
    &__heading {
        width: 55%;
    }

    &__desc {
        width: 50%;
    }

    &__poster {
        display: block;
        object-fit: contain;
        width: 100%;
        &-container {
            width: 70%;
            margin-bottom: 3rem;
        }
    }

    &__cta {
        border-radius: 2rem;
        border: 1px solid black;
        padding: 1rem 4rem;
    }
}

.fixed-bg {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    &--1 {
        background-image: url('https://images.unsplash.com/photo-1600119612651-0db31b3a7baa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
        
    }

    &--2 {
        background-image: url('https://images.unsplash.com/photo-1605668342229-9eaf10a83ba7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80');
    }
}

.about {

    
    &__heading,
    &__desc {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__heading {
    }

    &__desc {
        width: 50%;
    }

    &__img {
        display: block;
        max-width: 100%;
        object-fit: fill;
        &-container {
            width: 40%;
        }
    }
}

.contact {
    height: 100vh;
    background-color: white;
}


.fields {
    position: relative;
    // height: 300vh;
    // perspective: 30px;
    // overflow-y: auto;
    // background-image: linear-gradient(220deg, rgb(211, 125, 125), rgb(211, 125, 125));
    background-color: rgb(250, 250, 250);
    padding: 10rem 0;
    
    &__title {
        // font-size: 30rem;
        font-weight: 900;
        color: rgba(0, 0, 0, .05);
        line-height: 1;
        
        &-container {
            // position: sticky;
            // top: 0;
            width: 100%;
            // height: 100vh;
            // padding: 7rem 5rem 10rem 5rem;
        }

        &--2,
        &--3 {
            display: none;
        }
    }

    
    &__container {
        // display: flex;
        justify-content: flex-end;
        // display: grid;
        // height: 100vh;
        // overflow-y: scroll;
        // will-change: scroll-position;
        
        // height: 100vh;
    }


    &__field {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: 100vh;
        width: 100%;
        position: relative;
        perspective: 2000px;
        // margin-bottom: 10rem;

        // &::before {
        //     @include pseudo(attr(data-content));
        //     width: 100%;
        //     // transform: translate(-5rem, 0, -10px) scale(1.1) skew(41deg);
        //     // line-height: 100vh;
        //     font-size: 30rem;
        //     font-weight: 900;
        //     // letter-spacing: -3rem;
        //     color: rgba(white, .06);
        //     transform: translateZ(-2rem) scale(1.5);
        // }
    }

    &__bg {
        position: absolute;
        top: 10%;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        // transform: translate(-5rem, 40rem, -10px) scale(1.1) skew(41deg);
        // line-height: 100vh;
        text-align: right;
        font-size: 30rem;
        font-weight: 900;
        // letter-spacing: -3rem;
        color: rgba(white, .06);
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
        width: 100%;
        // height: 100%;
        // justify-content: space-between;
        justify-items: stretch;
        align-items: stretch;
        transform-style: preserve-3d;

        &--2,
        &--4 {
            flex-direction: row-reverse;
        }
    }


    &__img {
        display: block;
        object-fit: cover;
        // min-width: 50vw;
        width: 100%;
        flex: 1;
        background-image: linear-gradient(rgba(202, 18, 18, 0.37), rgba(0, 0, 0, 0.37));
        max-height: 100vh;
        min-height: 100vh;
        filter: grayscale(75%);
        transition: .5s ease-out;&::before {
            @include pseudo();
            // border: 5px solid  rgba(0, 0, 0, .3);
            width: 9rem;
            height: 9rem;
            left:0;
            top: 0;
            border: 5px solid black;
            transition: .2s;
        }

        // &::after {
        //     @include pseudo();
        //     // border: 5px solid  rgba(0, 0, 0, .3);
        //     height: 1px;
        //     left: auto;
        //     width: 5rem;
        //     top: 50%;
        //     right: 0;
        //     background-color: rgba(0, 0, 0, .35);
        //     transform: translateX(50%); 
        //     transition: .2s;
        //     mix-blend-mode: screen;
        //     z-index: 31;
        // }
        // border-radius: 20px;

        &-container {
            position: relative;
            // overflow: hidden;
            // position: absolute;
            // will-change: transform, opacity;
            justify-self: stretch;
            cursor: pointer;
            // width: fit-content;

            // background-color: red;

            
            &:hover img {
                transform: scale(1.03);
                filter: grayscale(0%);
                background-image: linear-gradient(rgba(202, 18, 18, 0.37), rgba(0, 0, 0, 0.37));
            }


            
            
            &::after {
                @include pseudo();
                // border: 5px solid  rgba(0, 0, 0, .3);
                height: 5%;
                width: 5%;
                border-top: 5px solid rgba(255, 255, 255, .85);
                border-left: 5px solid rgba(255, 255, 255, .85);
                transform: translate(.8rem, .8rem); 
                transition: .35s ease-out;
                // mix-blend-mode: multiply;
                z-index: 31;
            }

            // transform: rotate(-15, -10) translateY(25%);
            // opacity: 0;




            // max-width: 20vw;
            // grid-area: 1 / 1 / 2 / 2;
            // position: sticky;
            // border-radius: 20px;
            // top: 0;
            // right: 0;
            // box-shadow: -1rem .7rem 0 rgba(0, 0, 0, .1);
            // transform: translateY(4rem);
            // left: 0;
            
            
            

            &:hover {

                &::after {
                    width: 10%;
                    height: 20%;
                }
            }
            
            &--2,
            &--4 {
                order: 1;

                // &::after {
                //     right: auto;
                //     left: 0;
                //     transform: translateX(-50%); 
                // }

                &:hover {

                    // &::after {
                    //     transform: translateX(-60%); 
                    // }
                }
            }
        }

        &-inner-container {
            overflow: hidden;
        }

        &-cover {
            position: absolute;
            // display: none;
            top: 0;
            
            width: 100%;
            height: 100%;
            background-size: 200% 100%;
            background-position: 0%;
            background-image: linear-gradient(to right, rgb(250, 250, 250) 50%, transparent 50%);
            // background-image: linear-gradient(to right, white 33%, transparent 33%, transparent 40%, pink 40%, pink 41%, transparent 41%, transparent 45%, pink 45%, pink 47%, transparent 47%);

        }

    }

    // &__title {
    //     font-size: 30rem;
    //     font-weight: 900;
    //     color: rgba(0, 0, 0, .05);
    //     line-height: 1;

    //     &-container {
    //         height: 100vh;
    //         grid-area: 1 / 1 / 2 / 2;   
    //         padding: 3rem 8rem 8rem 8rem;
    //         background-color: rgba(0, 0, 0, .1);
    //     }
    // }

    &__desc {
        flex: 1;
        align-self: center;
        // position: absolute;
        // background-color: rgba(182, 58, 58, .95);
        line-height: 1.1;
        padding: 5.25rem 10rem;
        // grid-area: 2 / 2 / 3 / 4;
        // align-self: flex-end;
        font-size: 1.9rem;
        font-weight: 100;
        // position: sticky;
        text-align: center;
        // margin-bottom: -10rem;
        // margin-left: -5rem;
        // box-shadow: 0 0 20px rgba(black, .2);
        // z-index: 11;
        // top: 50%;
        
    }

    &__field-title {
        display: flex;
        justify-content: flex-end;
        // align-content: center;
        text-align: right;
        margin-bottom: 10px;
        // padding-right: .7rem;
        line-height: .85;

        &--1 {
            color: rgba(#c912eb, .5);
        }

        &--2 {
            color: rgba(#f719a7, .5);
        }

        &--3 {
            color:rgba(#fa3d8d, .5);
        }

        &--4 {
            color: rgba(126, 14, 38, 0.6);
        }
        
    }

    &__para {
        color: rgba(0, 0, 0, .9);
        text-align: right;
        padding-right: .5rem;
        &--1 {
            border-right: .7rem solid rgba(#c912eb, .15);
        }

        &--2 {
            border-right: .7rem solid rgba(#f719a7, .15);
        }

        &--3 {
            border-right: .7rem solid rgba(#fa3d8d, .15);
        }

        &--4 {
            border-right: .7rem solid rgba(126, 14, 38, 0.6);
        }
    }
}


.articles {
    min-height: 100vh;
    background-color: white;
    padding: 15rem 0;
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: repeat(10, 30vh);
        grid-auto-rows: 30vh;
        grid-gap: 3rem;
        padding: 5rem;
    }

    &__grid-item {
        transform: translateY(10%);
        opacity: 0;
    }

    &__heading {
        font-size: 5rem;
        color: rgba(0, 0, 0, .9);
        &-container {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            // background: red;
            grid-area: 1 / 2 / 2 / 3;
        }
    }

    &__article {
        // background: green;
        // border: 1px solid black;
        // background-color: rgba(0, 0, 0, 0.089);
        border: 7px solid rgba(0, 0, 0, .1);
        min-height: 40vh;

        &--1 {
            grid-area: 1 / 1 / 3 / 2;
        }

        &--2 {
            grid-area: 3 / 1 / 5 / 2;
        }

        &--3 {
            grid-area: 5 / 1 / 7 / 2;
        }

        &--4 {
            grid-area: 2 / 2 / 4 / 3;
        }

        &--5 {
            grid-area: 4 / 2 / 6 / 3;
        }

        &--4,
        &--5 {
            // transform: translateY(2rem);
        }
    }
}



.anecdotes {
    position: relative;
    height: 100vh;
    background-color: rgb(235, 233, 233);

    
    &::before {
        @include pseudo();
        top: auto;
        bottom: 0;
        left: 50%;
        height: 4.5rem;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.603);
    }
    
    &::after {
        @include pseudo();
        top: auto;
        bottom: 0;
        background-blend-mode: multiply;
        left: 50%;
        transform: translateY(100%);
        height: 4.5rem;
        width: 1px;
        background-color: rgba(228, 217, 217, 0.541);
    }

    &__container {
        overflow: hidden;

        &::before {
            @include pseudo('„');
            left: 0;
            top: 0;
            line-height: .1;
            font-size: 55rem;
            // height: 4.5rem;
            // width: 1px;
            color: rgba(0, 0, 0, .07);
        }
    }
}

///////////ORIGINAL FIELDS



// $fields-bg: white;
// .fields {
//     position: relative;
//     display: flex;
//     // height: 300vh;
//     background-color: rgb(165,42,92);
//     // background-image: linear-gradient(to bottom, transparent 35rem, rgba(black, .1) 35rem);
//     z-index: 2;

//     &__title {
//         font-size: 30rem;
//         font-weight: 900;
//         color: rgba(0, 0, 0, .05);
//         line-height: 1;
        
//         &-container {
//             // position: sticky;
//             // top: 0;
//             width: 100%;
//             height: 100vh;
//             padding: 7rem 5rem 10rem 5rem;
//         }

//         &--2,
//         &--3 {
//             display: none;
//         }
//     }

//     &__sidebar {
//         // position: sticky;
//         // top: 0;
//         // right: 0;
//         // margin-top: -100%;
//         height: 100vh;
//         width: 30%;
//     }
    
//     &__container {
//         display: grid;
//         // height: 100vh;
//     }


//     &__sticky {
//         padding: 7rem 4rem;
//         display: grid;
//         grid-area: 1 / 1 / 2 / 2;
//         grid-template-rows: auto 7rem 1fr;
//         grid-template-columns: auto 7rem 1fr;
//         // position: sticky;
//         // top: 0;
//         // width: 100%;
//         // height: 100vh;
//     }

//     &__field {
//         height: 100vh;
//     }

//     &__img {
//         display: block;
//         max-height: 70vh;
//         border-radius: 20px;

//         &-container {
//             width: fit-content;
//             grid-area: 1 / 1 / 2 / 2;
//             // position: sticky;
//             border-radius: 20px;
//             top: 0;
//             box-shadow: -1rem .7rem 0 rgba(0, 0, 0, .1);
//             transform: translateY(4rem);
//             // left: 0;
//             &::after {
//                 @include pseudo();
//                 // border: 5px solid  rgba(0, 0, 0, .3);
//                 border-radius: 20px;
//                 transform: translate(-2rem, -1.2rem) scale(1, 1.06); 
//             }
//         }

//     }

//     // &__title {
//     //     font-size: 30rem;
//     //     font-weight: 900;
//     //     color: rgba(0, 0, 0, .05);
//     //     line-height: 1;

//     //     &-container {
//     //         height: 100vh;
//     //         grid-area: 1 / 1 / 2 / 2;   
//     //         padding: 3rem 8rem 8rem 8rem;
//     //         background-color: rgba(0, 0, 0, .1);
//     //     }
//     // }

//     &__desc {
//         grid-area: 2 / 3 / 4 / 4;
//         font-size: 2rem;
//         font-weight: 100;
//         // position: sticky;
//         top: 50%;
//     }
// }

// .agenda {
//     padding: 10rem 8rem;
//     min-height: 100vh;
//     background-color: rgb(236, 204, 255);

//     &__heading {
//         text-align: center;
//         color: rgba(0, 0, 0, 0.685);
//         font-size: 2.3rem;
//         margin-bottom: 5rem;
//     }

//     &__para {
//         text-align: right;
//     }

//     &__container {
//         display: grid;
//         grid-auto-flow: column;
//         grid-column-gap: 4rem;
//     }

//     &__agenda {
//         display: grid;
//         place-items: center;
//         padding: .7rem;
//         // background-color: rgba(133, 8, 8, 0.774);
//     }

//     &__number {
//         position: absolute;
//         // grid-area: 1 / 1 / 2 / 2;
//         line-height: 1;
//         font-size: 14rem;
//         background-image: linear-gradient(to bottom, rgba(168, 149, 38, 0.7541) 50%, transparent);
//         color: transparent;
//         background-clip: text;
//         opacity: .35;
//         font-weight: bold;
//         transform-origin: top;
//         transform: translate(23%,  5%) scaleY(1.5);
//     }

//     &__para {
//         // grid-area: 1 / 1 / 2 / 2;
//         line-height: 1.4;
//         position: relative;
//         font-size: 1.3rem;
//         text-align: justify;

//     }
// }
